.fixing {
  margin-top: 50px;
}
.fixing .tr {
  text-align: right;
}
.fixing .p-a {
  font-size: 18px;
  font-weight: bold;
  color: #f37231;
}
.fixing .p-b {
  font-size: 35px;
  font-weight: bold;
  color: #333;
}
.fixing .return-index {
  margin-top: 50px;
  padding-left: 100px;
}
.fixing .return-index > a {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 10px;
  color: #fe6402;
}
